name: Create and publish the Standalone LXC image

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'build manually trigger'
        required: true
        default: 'triggered by developer'
      blockchain:
        description: 'Blockchain'
        required: true
        default: 'dymension'
  push:
    branches:
      - 'gemini-lxc-debug'

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 35840
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set the config files
        env:
          BLOCKCHAIN: ${{ inputs.blockchain || 'dymension' }}
        run: |
            chmod +x build/set-config-files.sh
            ./build/set-config-files.sh $BLOCKCHAIN

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y debootstrap gpg squashfs-tools

      - name: Install distrobuilder via Snap
        run: |
          # Per official documentation, snap is the recommended way to install distrobuilder.
          # We rely on the snap to be self-contained with its core dependencies.
          sudo snap install distrobuilder --classic

      - name: Build LXC image
        run: |
          # The snap installation places distrobuilder directly in the PATH.
          sudo -E distrobuilder build-lxc build/lxc/crynux-node.lxc.yaml -o image.architecture=$(dpkg --print-architecture)

      - name: Change ownership of artifacts
        run: sudo chown runner:runner rootfs.tar.xz lxc.tar.xz

      - name: Upload LXC image artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lxc-image-${{ inputs.blockchain }}
          path: |
            rootfs.tar.xz
            lxc.tar.xz
